#!/usr/bin/env bash

export BUILDX_BAKE_ENTITLEMENTS_FS=0
# export DIRENV_WARN_TIMEOUT=20s
# conda activate sglang_2
# eval "$(devenv direnvrc)"


export UV_PROJECT_ENVIRONMENT="$(pwd)/.venv"
source .venv/bin/activate
